#version: '3.9'

services:
  db:
    container_name: mikrotik-db
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: mikrotik
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  route-builder:
    container_name: mikrotik-route-builder
    build: .
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - db

volumes:
  pgdata:
